* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
}

.navbar.sticky {
    position: fixed;
    z-index: 99999999999999;
    background: #fff;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}

.navbar.sticky.active {
    transform: translateY(0);
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__link {
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.04em;
    color: rgb(19, 131, 223);
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar__item {
    cursor: pointer;
    list-style: none;
    position: relative;
}

.cart-qnty {
    position: absolute;
    color: red;
    font-weight: bold;
    bottom: -2px;
    right: -5px;
}

.home {
    padding: 100px 0;
}

.home-wrapper h1 {
    margin-bottom: 30px;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.product__item {
    list-style: none;
    position: relative;
    height: 340px;
    overflow: hidden;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.1);
}

.product__item img {
    height: 100%;
}

.product__price {
    margin: 5px 0;
}

.product__info {
    position: absolute;
    background: #fff;
    bottom: 0;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.product__item:hover .product__info {
    transform: translateX(0);
}

.product__btn {
    padding: 5px 10px;
    background: rgb(19, 131, 223);
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.view-product {
    padding: 50px 0;
}

.view-wrapper {
    display: flex;
    width: 100%;
    gap: 2%;
    margin-bottom: 30px;
}

.product-info,
.view-photos {
    width: 49%;
    position: relative;
}

.view-photos-miniature {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view-photos-miniature li {
    width: 70px;
    height: 91px;
    cursor: pointer;
    list-style: none;
    position: relative;
}

.view-photos-miniature li.active::after {
    background: rgba(255, 255, 255, 0);
}

.view-photos-miniature li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.product-info {
    padding: 25px 0;
}

.product-info__title {
    font-size: 18px;
    font-weight: 600;
}

.product-info__art {
    font-size: 12px;
    color: #828282;
    margin: 8px 0 18px;
}

.product-info-feedback {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.product-info-feedback img {
    margin: 0 4px 0 12px;
}

.product-info-feedback svg {
    margin: 0 0 0 4px;
}

.product-info-price__inner {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 13px;
}

.product-info__price {
    font-size: 24px;
    font-weight: bold;
}

.product-info__last-price {
    font-size: 14px;
    color: #828282;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-info-price__btns {
    margin-bottom: 32px;
}

.product-info-price__btn:first-of-type {
    margin-right: 9px;
}

.product-info-price__btn {
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #333;
    cursor: pointer;
}

.product-info-size select {
    padding: 12px 16px;
    width: 315px;
    margin-bottom: 12px;
    outline: none;
}

.product-info-size {
    margin-bottom: 45px;
}

.product-info-qnty {
    display: flex;
    align-items: center;
}

.product-info-qnty span {
    width: 44px;
    height: 44px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-info-cart-btns-qnty {
    padding-bottom: 30px;
    border-bottom: 0.5px solid #C4C4C4;
    margin-bottom: 25px;
}

.product-info-cart-btns {
    display: flex;
    align-items: center;
}

.product-info-cart-btns button {
    height: 44px;
    background: #333333;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.product-info-cart-btns button svg.active {
    fill: #fff;
}

.product-info-cart-btns-qnty-wrap {
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}

.product-info-cart-btns button:first-of-type {
    margin-right: 4px;
    padding: 0 15px;
}

.product-info-cart-btns button:last-of-type {
    width: 44px;
}

.buy-by-one-click {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.product-info-content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.product-info-content li {
    display: flex;
    align-items: center;
    gap: 6.5px;
    cursor: pointer;
}

.product-info-content li span {
    text-decoration: underline;
}

.cart-items {
    position: absolute;
    right: 0;
    background: #c3c3c3;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.cart-items.active {
    display: block;
    z-index: 99999999;
}

.cart-items__btns {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.cart-items__btns button {
    background-color: #fff;
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
}

.cart-items-info h1 {
    font-size: 16px;
}

.cart-items-info p {
    margin: 5px 0;
}

.notofication {
    position: fixed;
    top: 15px;
    right: 15px;
    width: max-content;
    padding: 5px;
    background: #828282;
    color: #fff;
    right: 0;
    border-radius: 5px;
    display: none;
    z-index: 9999999999999999;
}

.notofication.active {
    display: block;
}

.styles {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(2, 336px);
    gap: 20px;
}

.largeone {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.styles-wrap {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.styles-wrap img {
    width: 100%;
}

.styles-wrap-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    background: rgba(51, 51, 51, 0.7);
    visibility: hidden;
    opacity: 0;
}

.styles-wrap:hover .styles-wrap-inner {
    visibility: visible;
    opacity: 1;
}

.icon-slide {
    position: absolute;
    top: 16px;
    right: 16px;
}

.icon-likes {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 14px;
}

.icon-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 7px;
    font-size: 14px;
}

.all-style h1 {
    margin-bottom: 32px;
    text-align: center;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    text-decoration: underline;
    font-weight: 400;
}

.burger-menu {
    display: none;
    width: 20px;
    height: 20px;
}

.burger-btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.burger-btn span {
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.5s ease-in-out;
}

.burger-btn span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.5s ease-in-out;
    background: #000;
}

.burger-btn span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.5s ease-in-out;
}

.burger-btn.active span::before {
    transform: rotate(45deg);
    top: 45%;
}

.burger-btn.active span::after {
    transform: rotate(-45deg);
    bottom: 45%;
}

.mobile-navbar-wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    transition: 0.5s ease-in-out;
    visibility: hidden;
}

.mobile-navbar-wrap.active {
    visibility: visible
}

.mobile-navbar {
    width: 100%;
    height: max-content;
    padding: 5px 20px 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.5s ease-in-out;
    z-index: 99999999999;
    transform: translateX(-100%);
}

.mobile-navbar.active {
    transform: translateX(0);
}

.mobile-navbar li {
    list-style: none;

}

.mobile-navbar li a {
    display: block;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
}


.burger-btn.active span {
    width: 0;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 1280px) {
    .home {
        padding: 60px 0;
    }

    .product__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product__item img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .styles {
        grid-template-rows: repeat(2, 260px);
    }

    .product-info {
        padding: 0;
    }

    .view-photos img {
        height: 100%;
    }

    .all-style h1,
    .view-wrapper {
        margin-bottom: 50px;
    }
}

@media (max-width: 820px) {
    .view-photos-miniature li {
        width: 40px;
        height: 52px;
    }

    .styles {
        grid-template-rows: repeat(2, 260px);
    }

    .product__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-info-size select {
        width: 90%;
    }

    .product-info-size,
    .product-info-feedback {
        margin-bottom: 20px;
    }

    .styles {
        grid-template-rows: repeat(2, 200px);
    }
}

@media (max-width: 540px) {
    .container {
        padding: 0;
    }

    .mobile-navbar-wrap,
    .burger-menu {
        display: block;
    }

    .styles-wrap img {
        object-position: 0 -84px;
    }

    .navbar-wrapper {
        height: 70px;
        padding: 0 20px;
    }

    .home-wrapper {
        padding: 0 20px;
    }

    .view-product {
        padding: 0 0 50px 0;
    }

    .product__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .product-info,
    .view-photos {
        width: 100%;
    }

    .product-info {
        padding: 0 20px;
    }

    .styles {
        grid-template-rows: repeat(4, 177.5px);
        grid-template-columns: auto;
        gap: 8px;
    }
}

@media (max-width: 390px) {
    .product-info-cart-btns-qnty-wrap {
        flex-direction: column;
    }

    .product__list {
        grid-template-columns: 1fr;
    }

    .styles-wrap img {
        object-position: 0px -30px;
    }

    .product-info-cart-btns button:first-of-type {
        width: 203px;
    }
}